{%load static%}
<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %} Student Management System  </title>
    

       
    </head>
    <body>
      
        <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
             <a href="#" class="flex items-center space-x-2 text-xl font-semibold">
            <i class="fa fa-graduation-cap" style="font-size: 36px;"></i>
            <span class="text-2xl w-16 h-16 leading-tight text-teal-500 font-serif">Student Management System</span>
           </a>
            
            <div class="space-x-6 flex items-center">
            {% if user.is_authenticated %}
    <div class="flex items-center space-x-6">
         <a href="{% url 'Student:home' %}" class="text-lg font-semibold hover:text-gray-500">Home</a>
        <a href="{% url 'Student:about' %}" class="text-lg font-semibold hover:text-gray-500">About</a>    
       <a href="{% url 'Student:add' %}" class="text-lg font-semibold hover:text-gray-500">Add Student</a>
       <a href="{% url 'Student:list' %}" class="text-lg font-semibold hover:text-gray-500">View Student</a>
       
    </div>
    <a href="{% url 'signout' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">{{user.username}},Signout</a>
{% else %}
     <a href="{% url 'Student:about' %}" class="text-lg font-semibold hover:text-gray-500">About</a>
     
    <a href="{% url 'signin' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign in</a>
    <a href="{% url 'Student:signup' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
{% endif %}

            </div>
        </nav>
       <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>
       
       
          
        <footer class="py-6 px-6 flex justify-between bg-gray-500">
  <div class="w-2/3 pr-10">
    <h3 class="mb-3 font-semibold text-gray-400">About us</h3>
    <div class="font-sans leading-relaxed">
      <p class="text-lg text-white">
        Welcome to our student management system! Our system is designed to help educational institutions manage their student data more 
        efficiently and effectively. With our system, you can easily manage student information, track academic progress, and communicate 
        with students and their families.
      </p>
    </div>
  </div>
  <div class="w-1/3">
    <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
    <ul class="space-y-2">
      <li><a href="{% url 'Student:about' %}" class="text-lg text-white hover:text-teal-400">About</a></li>
      <li><a href="{% url 'Student:contact' %}" class="text-lg text-white hover:text-teal-400">Contact-us</a></li>
      <li><a href="{% url 'Student:privacy' %}" class="text-lg text-white hover:text-teal-400">Privacy policy</a></li>
      <li><a href="#" class="text-lg text-white hover:text-teal-400">Terms of Use</a></li>
    </ul>
  </div>
</footer>

    </body>
</html>
