{% extends 'Student/base.html' %}
{% block title %}
Privacy
{% endblock %}
{% block content %}
<div class="bg-cover bg-center bg-no-repeat">
  <div class="container mx-auto py-10">
  <h1 class="text-3xl font-bold mb-6">Privacy Policy</h1>
  
  <p class="mb-4">We take your privacy very seriously. This Privacy Policy describes how we collect, use, and disclose information about you when you use our tool of inventory management for gifting companies.</p>

  <h2 class="text-xl font-bold mb-4">What Information We Collect</h2>

  <p class="mb-4">We collect information about you directly from you when you use our tool. This information includes your name, email address, and other contact information you provide us.</p>

  <p class="mb-4">We also collect information about you automatically when you use our tool, such as your IP address, browser type, and device type.</p>

  <h2 class="text-xl font-bold mb-4">How We Use Your Information</h2>

  <p class="mb-4">We use the information we collect about you to provide, maintain, and improve our tool. We also use your information to communicate with you, such as responding to your inquiries and sending you updates about our tool.</p>

  <p class="mb-4">We may also use your information to personalize your experience using our tool, such as by showing you personalized recommendations or advertisements.</p>

  <h2 class="text-xl font-bold mb-4">How We Share Your Information</h2>

  <p class="mb-4">We do not sell or share your information with third parties for their marketing purposes.</p>

  <p class="mb-4">We may share your information with our service providers who help us operate our tool. These service providers are authorized to use your information only as necessary to provide services to us.</p>

  <p class="mb-4">We may also disclose your information if required by law or to protect our rights or the rights of others.</p>

  <h2 class="text-xl font-bold mb-4">How We Protect Your Information</h2>

  <p class="mb-4">We take reasonable measures to protect your information from unauthorized access, use, or disclosure. However, no method of transmission over the Internet or method of electronic storage is 100% secure.</p>

  <h2 class="text-xl font-bold mb-4">Your Choices</h2>

  <p class="mb-4">You may choose to stop receiving communications from us by following the unsubscribe instructions in our emails. You may also update your information by contacting us at the email address below.</p>

  <h2 class="text-xl font-bold mb-4">Contact Us</h2>

  <p class="mb-4">If you have any questions or concerns about our Privacy Policy, please contact us at info@giftingtool.com.</p>
</div>

  
</div>


{% endblock %}
