{% extends 'Student/base.html' %}

{% block title %}
Sign In |
{% endblock %}

{% block content %}
<div class="flex justify-center my-6">
    <div class="w-full max-w-md bg-gray-100 rounded-xl px-8 py-6">
        <h1 class="text-3xl mb-6 text-center font-bold">Sign In</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="block w-full py-4 px-8 text-lg bg-teal-500 text-white rounded-xl hover:bg-teal-700">
                Sign In
            </button>
        </form>
        <p class="mt-4 text-center">
            If you don't have an account yet,
            <a href="{% url 'Student:signup' %}" class="text-teal-500 font-bold hover:text-teal-700">
                Sign Up
            </a>
        </p>
    </div>
</div>
{% endblock %}
