
{% extends 'Student/base.html' %}
{% block title %}
Signup |
{% endblock %}
{% block content %}
 
     <div class="flex justify-center my-6">
    <div class="w-full max-w-md bg-gray-100 rounded-xl px-8 py-6">
        <h1 class="text-3xl mb-6 text-center font-bold">Sign up</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
           <div>
    <label class="block mb-2 font-bold text-gray-700" for="username">Username</label>
    <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" 
    placeholder="Enter your username">
    </div>

     <div>
    <label class="block mb-2 font-bold text-gray-700" for="{{ form.first_name.id_for_label }}">First Name</label>
    <input type="{{ form.first_name.field.widget.input_type }}" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" 
    placeholder="{{ form.first_name.label }}">
</div>

<div>
    <label class="block mb-2 font-bold text-gray-700" for="{{ form.last_name.id_for_label }}">Last Name</label>
    <input type="{{ form.last_name.field.widget.input_type }}" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="{{ form.last_name.label }}">
</div>

<div>
    <label class="block mb-2 font-bold text-gray-700" for="{{ form.email.id_for_label }}">Email</label>
    <input type="{{ form.email.field.widget.input_type }}" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="{{ form.email.label }}">
</div>

<div>
    <label class="block mb-2 font-bold text-gray-700" for="{{ form.password1.id_for_label }}">Password</label>
    <input type="{{ form.password1.field.widget.input_type }}" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="{{ form.password1.label }}">
</div>

<div>
    <label class="block mb-2 font-bold text-gray-700" for="{{ form.password2.id_for_label }}">Confirm Password</label>
    <input type="{{ form.password2.field.widget.input_type }}" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" class="w-full py-2 px-3 border border-gray-400 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="{{ form.password2.label }}">
</div>
<button class="block w-full py-4 px-8 text-lg bg-teal-500 text-white rounded-xl hover:bg-teal-700">
                Submit
            </button>

            
            <p class="mt-4 text-center">
            If you have an account,
            <a href="{% url 'signin' %}" class="text-teal-500 font-bold hover:text-teal-700">
                Sign In
            </a>
        </p>

        </form>
    </div>
</div>

{% endblock %}