{% extends 'Student/base.html' %}
{% block title %}
Update
{% endblock %}
{% block content %}
<div class="flex justify-center my-6">
    <div class="w-full max-w-md bg-gray-100 rounded-xl px-8 py-6">
        <h1 class="text-3xl mb-6 text-center font-bold">Form</h1>
        <form method="post"  enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-6">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <p class="text-sm text-gray-500">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                <ul class="mt-2 list-disc list-inside text-sm text-red-600">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            <button class="block w-full py-4 px-8 text-lg bg-teal-500 text-white rounded-xl hover:bg-teal-700">
                Submit
            </button>
        </form>
    </div>
</div>
   
{% endblock %}
